:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --sub-text-color: #fff;
  --accent-color: red;

  --main-text-color: #000;

  --first-brand-color: #ff6b1c;
  --second-brand-color: #fe8334;
  --third-brand-color: #f8a664;
  --fourth-brand-color: #ff964c;

  --main-font: 'Open Sans Condensed';
  --title-font: 'Encode Sans SC Expanded';

  font-size: 62.5%;
}
